<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>FL Portfolio</title>

<body>
    <div class="log-in">
    <h1> FL Portfolio </h1>
<form>
  <label for="fname">Username:</label><br>
  <input type="text" id="fname" name="fname"><br>
    <br />
  <label for="lname">Password:</label><br>
  <input type="password" id="lname" name="lname">
</form>

    <br/>
    <a href="/users1"><button type="button">Sign In</button> </a>
</head>
</div>
</body>
</html>
